
.footer {
    background: $color-1;
    height: 15rem;
    display: flex;
    align-items: center;
    &__content {
        text-align: center;
        &-icons a {
            text-decoration: none;
        }
    }
}

